<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

              <!-- package..class로 가정하고 사용 -->				 
<mapper namespace="com.room.mapper.CookBoardCommentMapper">

	<insert id="insertBoardComment" parameterType="com.room.dto.CKBoardComment"
			useGeneratedKeys="true" keyColumn="board_comment_no" keyProperty="commentNo">
		INSERT INTO BoardComment 
		(board_no, member_id, comment_content, groupno, step, depth)
		VALUES 
		(#{boardNo}, #{writer}, #{content}, 0, 1, 0)		
	</insert>
	
	<insert id="insertBoardReComment" parameterType="com.room.dto.CKBoardComment"
			useGeneratedKeys="true" keyColumn="board_comment_no" keyProperty="commentNo">
		INSERT INTO BoardComment 
		(board_no, member_id, comment_content, groupno, step, depth)
		VALUES 
		(#{boardNo}, #{writer}, #{content}, #{groupNo}, #{step}, #{depth})		
	</insert>
	
	<select id="selectByBoardNo" parameterType="int" resultType="com.room.dto.CKBoardComment">
		SELECT board_comment_no commentNo,board_no boardNo,member_id writer,comment_content content,
				comment_regdate regDate,comment_deleted deleted, groupno, step, depth
		FROM BoardComment
		WHERE board_no = #{boardNo}
		ORDER BY groupno ASC, step ASC
	</select>
	
	<select id="selectByCommentNo" parameterType="int" resultType="com.room.dto.CKBoardComment">
		SELECT board_comment_no commentNo,board_no boardNo,member_id writer,comment_content content,
				comment_regdate regDate,comment_deleted deleted,groupno, step, depth
		FROM BoardComment
		WHERE board_comment_no = #{commentNo}
		ORDER BY board_comment_no ASC
	</select>
	
	<delete id="delete" parameterType="int">
		UPDATE BoardComment
		SET comment_deleted = TRUE
		WHERE board_comment_no = #{commentNo}
	</delete>
	
	<update id="update" parameterType="com.room.dto.CKBoardComment">
		UPDATE BoardComment
		SET comment_content = #{content}
		WHERE board_comment_no = #{commentNo}
	</update>
	
	<update id="updateGroupNo" parameterType="com.room.dto.CKBoardComment">
		UPDATE BoardComment
		SET groupno = #{groupNo}
		WHERE board_comment_no = #{commentNo}
	</update>
	
	<update id="updateStep" parameterType="hashmap">
	<![CDATA[
		UPDATE BoardComment
		SET step = step + 1
		WHERE groupno = #{groupNo} AND step > #{step}
	]]>
	</update>
	
</mapper>