<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                 
<mapper namespace="com.room.mapper.MessageMapper">

		<select id="selectAll" resultType="com.room.dto.Message">
			SELECT message_no,sender,receiver,message_content,sendtime,readtime
			FROM Message
			ORDER By message_no DESC
		</select>
		
		<select id="selectMemberId" resultType="com.room.dto.Member">
			SELECT member_id memberId FROM Member
		</select>
		
		<insert id="insertMessage" parameterType="com.room.dto.Message"
				useGeneratedKeys="true" keyColumn="message_No" keyProperty="message_No">
			INSERT INTO Message (sender,receiver,message_content)
			VALUES (#{sender},#{receiver},#{message_content})			
		</insert>
		
		<select id="selectByMessageNo" parameterType="int" resultType="com.room.dto.Message">
		SELECT message_No,message_content,sendtime,sender,receiver
		FROM Message
		WHERE message_No = #{message_No}
		</select>


</mapper>