<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

              <!-- package..class로 가정하고 사용 -->				 
	<mapper namespace="com.room.mapper.PetBoardMapper">


	<select id="selectAll" resultType="com.room.dto.PetBoard">
		SELECT board_no boardNo, title, member_id writer, readcount, regdate, deleted
		FROM Board WHERE category = 'pet'
		ORDER BY board_no DESC
	</select>
	
	<insert id="insertBoard" parameterType="com.room.dto.PetBoard">
		<selectKey keyProperty="boardNo" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO Board (title,member_id,content, category)
		VALUES (#{title},#{writer},#{content}, #{category})
	</insert>
	
	<select id="selectByBoardNo" parameterType="int" resultType="com.room.dto.PetBoard">
		SELECT board_no, title, member_id writer,content, readcount, regdate
		FROM Board
		where board_no = #{boardNo} and deleted = false
	</select>


	

</mapper>