<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

              <!-- package..class로 가정하고 사용 -->				 
	<mapper namespace="com.room.mapper.TipBoardMapper">

	<insert id="insertBoard" parameterType="com.room.dto.TipBoard">
		<selectKey keyProperty="boardNo" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO Board (title,member_id,content, category)
		VALUES (#{title},#{writer},#{content}, #{category})
	</insert>

	<select id="selectAll" resultType="com.room.dto.TipBoard">
		SELECT board_no boardNo,title,member_id writer,readcount,regdate,deleted
		FROM Board WHERE category = 'tip'
		ORDER BY board_no DESC
	</select>
	<select id="selectByBoardNo" parameterType="int" resultType="com.room.dto.TipBoard">
		SELECT board_no boardNo,title,member_id writer,content,readcount,regdate
		FROM Board
		where board_no = #{boardNo} and deleted = FALSE
	</select>
	
	<select id="select3" resultType="com.room.dto.TipBoard">
		SELECT board_no boardNo, title, member_id writer, regdate, readcount
		FROM Board
		WHERE category ='tip' and deleted = FALSE
		ORDER by board_no DESC LIMIT 3
	</select>
	
	<update id="update" parameterType="com.room.dto.TipBoard">
		UPDATE Board
		SET title = #{title}, content = #{content}
		WHERE board_no = #{boardNo}
	</update>
	
	<delete id="delete" parameterType="int">
		UPDATE Board
		SET deleted = true
		where board_no = #{ boardNo }
	</delete>
	
	<select id="selectByRange" parameterType="hashmap" resultType="com.room.dto.TipBoard">
		SELECT board_no boardNo, title, member_id writer, readcount, regdate, deleted
		FROM Board WHERE category = 'tip'
		ORDER BY board_no DESC
		LIMIT #{from}, #{count}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM Board WHERE category = #{ category }
	</select>
	
	<update id="updateBoardReadCount" parameterType="int">
		UPDATE Board 
		SET readcount = readcount + 1 
		WHERE board_no = #{ boardNo }
	</update>
	
	<insert id="insertBoardAttach" parameterType="com.room.dto.TipBoardAttach">
		INSERT BoardAttach (board_no, userfilename, savedfilename)
		VALUES (#{boardNo}, #{userFileName}, #{savedFileName})
	</insert>
	
	<select id="selectBoardAttachByBoardNo" parameterType="int"
											resultType="com.room.dto.TipBoardAttach">
		SELECT attach_no attachNo, board_no boardNo,
		userfilename, savedfilename, downloadcount
		FROM BoardAttach
		WHERE board_no = #{boardNo}										
	</select>
	
	<select id="selectBoardAttachByAttachNo" parameterType="int"
											resultType="com.room.dto.TipBoardAttach">
		SELECT attach_no attachNo, board_no boardNo,
		userfilename, savedfilename, downloadcount
		FROM BoardAttach
		WHERE attach_no = #{attachNo}
	</select>
	
</mapper>