<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.room.dto.Member" alias="Member" />
	</typeAliases>

	<mappers>
		<mapper resource="com/room/mapper/MemberMapper.xml" />
		<mapper resource="com/room/mapper/MessageMapper.xml" />
	</mappers>
	
</configuration>